<div class="grid nested-grid h-full">
  <div class="col-6">
    <div class="grid">
      <div class="col-12">
        <div
          class="grid surface-100 flex align-items-center justify-content-center"
        >
          <div class="col">
            <div
              class="border-round-xs surface-100 flex align-items-center justify-content-center p2-3"
            >
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Select highway</mat-label>
                <mat-select
                  [(ngModel)]="selectedRoad"
                  (selectionChange)="onSelectedRoadChange($event)"
                >
                  <mat-option *ngFor="let road of roads" [value]="road">{{
                    road
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <button
                mat-icon-button
                matSuffix
                *ngIf="selectedRoad"
                (click)="clearSelection()"
              >
                <mat-icon>close</mat-icon>
              </button> -->
            </div>
          </div>
          <div class="col">
            <div
              class="text-center border-round-xs surface-100 flex align-items-center justify-content-center"
            >
              <div *ngIf="selectedRoad">
                <p class="">
                  Selected highway:

                  <button mat-flat-button [style.background]="'#0652DD'">
                    <h3 [style.color]="'white'">{{ selectedRoad }}</h3>
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="text-center border-round-xs surface-100 flex align-items-center justify-content-center"
            >
              <button
                mat-flat-button
                color="warn"
                (click)="clearAllMarkers()"
                [disabled]="!markers.length"
              >
                <mat-icon>wrong_location</mat-icon>
                Clear all markers
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Table -->
      <div class="col-12">
        <div class="text-center border-round-xs surface-100">
          <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <!-- ROADWORKS -->
            <mat-tab id="roadworksTab">
              <!-- Add an *ngIf to conditionally render content -->
              <ng-template mat-tab-label class="flex justify-content-between">
                <mat-icon fontIcon="handyman"></mat-icon>
                <span class="ml-2">Roadworks</span>
                <div
                  *ngIf="roadworksData.data.length > 0"
                  [matBadge]="roadworksData.data.length"
                  matBadgeOverlap="false"
                >
                  &nbsp;
                </div>

                <!-- <span
                    matTooltip="Total number of Closures on this road"
                    *ngIf="roadworksData.data.length > 0"
                  >
                    (<b>{{ roadworksData.data.length }}</b
                    >)
                  </span> -->
              </ng-template>
              <app-table
                #tableComponentRef
                [germany]="germany"
                [clickedRoadworkRows]="clickedRoadworkRows"
                [markers]="markers"
                [selectedRoad]="selectedRoad"
                [roads]="roads"
                [roadworksData]="roadworksData"
                [selectedIndex]="selectedIndex"
              ></app-table>
            </mat-tab>

            <!-- CLOSURES -->
            <mat-tab id="closuresTab">
              <!-- Add an *ngIf to conditionally render content -->
              <ng-template mat-tab-label class="flex justify-content-between">
                <mat-icon fontIcon="remove_road"></mat-icon>
                <span class="ml-2">Closed Roads</span>
                <div
                  *ngIf="closureData.data.length > 0"
                  [matBadge]="closureData.data.length"
                  matBadgeOverlap="false"
                >
                  &nbsp;
                </div>
                <!-- <mat-icon
                  #tableComponent
                  style="font-size: 16px"
                  class="ml-2"
                  matTooltip="Remove only Closed roads markers"
                  >close</mat-icon
                > -->
              </ng-template>
              <app-table
                #tableComponentRef
                [germany]="germany"
                [clickedClosureRows]="clickedClosureRows"
                [markers]="markers"
                [selectedRoad]="selectedRoad"
                [roads]="roads"
                [closureData]="closureData"
                [selectedIndex]="selectedIndex"
              ></app-table>
            </mat-tab>

            <!-- WARNINGS -->
            <!-- <mat-tab>
              <ng-template mat-tab-label class="flex justify-content-between">
                <mat-icon fontIcon="warning"></mat-icon>
                <p class="ml-2">
                  Warning
                  <span
                    matTooltip="Total number of Warnings on this road"
                    *ngIf="warningsData.data.length > 0"
                    >(<b>{{ warningsData.data.length }}</b
                    >)</span
                  >
                </p>

                <mat-icon
                  *ngIf="warningsData.data.length > 0"
                  class="ml-2"
                  matTooltip="Remove only Warnings markers"
                  (click)="clearWarnings()"
                  >close</mat-icon
                >
              </ng-template>

              <table
                mat-table
                [dataSource]="warningsData"
                class="mat-elevation-z8"
              >
                <ng-container
                  *ngFor="let column of warningColumns"
                  [matColumnDef]="column.value"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    {{ column.name | titlecase }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element[column.value] }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="getWarningColumnValues()"
                ></tr>

                <tr
                  class="cursor-pointer"
                  mat-row
                  (click)="onWarningRowClicked(rowWarning)"
                  [class.row-is-clicked]="clickedWarningRows.has(rowWarning)"
                  *matRowDef="let rowWarning; columns: getWarningColumnValues()"
                ></tr>
              </table>
              <mat-paginator
                #warningsPaginator
                [pageSize]="5"
                [pageSizeOptions]="[5, 10]"
                showFirstLastButtons
              ></mat-paginator>
            </mat-tab> -->

            <!-- CHARGING STATIONS -->
            <!-- <mat-tab>
              <ng-template mat-tab-label class="flex justify-content-between">
                <mat-icon fontIcon="ev_station"></mat-icon>
                <p class="ml-2">
                  Charging stations
                  <span
                    matTooltip="Total number of Roadworks on this road"
                    *ngIf="chargingData.data.length > 0"
                    >(<b>{{ chargingData.data.length }}</b
                    >)</span
                  >
                </p>

                <mat-icon
                  *ngIf="chargingData.data.length > 0"
                  class="ml-2"
                  matTooltip="Remove only Charging stations markers"
                  (click)="clearCharging()"
                  >close</mat-icon
                >
              </ng-template>

              <table
                mat-table
                [dataSource]="chargingData"
                class="mat-elevation-z8"
              >
                <ng-container
                  *ngFor="let column of chargingColumns"
                  [matColumnDef]="column.value"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    {{ column.name | titlecase }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element[column.value] }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="getChargingColumnValues()"
                ></tr>

                <tr
                  class="cursor-pointer"
                  mat-row
                  (click)="onChargingRowClicked(rowCharging)"
                  [class.row-is-clicked]="clickedChargingRows.has(rowCharging)"
                  *matRowDef="
                    let rowCharging;
                    columns: getChargingColumnValues()
                  "
                ></tr>
              </table>

              <mat-paginator
                #chargingPaginator
                [pageSize]="5"
                [pageSizeOptions]="[5, 10]"
                showFirstLastButtons
              ></mat-paginator>
            </mat-tab> -->
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
  <!-- Map -->
  <div class="col-6">
    <div class="text-center border-round-xs h-full surface-100 font-bold">
      <div
        id="map"
        class="map-container"
        leaflet
        [leafletOptions]="options"
        leafletMap
      ></div>
    </div>
  </div>
</div>
