<div class="grid nested-grid h-full">
  <div class="col-6">
    <div class="grid">
      <div class="col-12">
        <div
          class="grid surface-100 flex align-items-center justify-content-center"
        >
          <div class="col">
            <div
              class="border-round-xs surface-100 flex align-items-center justify-content-center p2-3"
            >
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Select highway</mat-label>
                <mat-select
                  [(ngModel)]="selectedRoad"
                  (selectionChange)="onRoadSelectionChange()"
                >
                  <mat-option *ngFor="let road of roads" [value]="road">{{
                    road
                  }}</mat-option>
                </mat-select>
                <button
                  mat-icon-button
                  matSuffix
                  color="warn"
                  *ngIf="selectedRoad"
                  (click)="clearSelection()"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div
              class="text-center border-round-xs surface-100 flex align-items-center justify-content-center"
            >
              <div *ngIf="selectedRoad">
                <p class="">
                  Selected highway:
                  <!-- <span class="font-bold">{{ selectedRoad }}</span> -->
                  <button mat-flat-button [style.background]="'#0652DD'">
                    <!-- <mat-icon [style.color]="'white'">shield</mat-icon> -->
                    <h3 [style.color]="'white'">{{ selectedRoad }}</h3>
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="text-center border-round-xs surface-100 flex align-items-center justify-content-center"
            >
              <button
                mat-flat-button
                color="warn"
                (click)="clearMarkers()"
                [disabled]="!markers.length"
              >
                <mat-icon>wrong_location</mat-icon>
                Clear all markers
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Table -->
      <div class="col-12">
        <div class="text-center border-round-xs surface-100">
          <mat-tab-group>
            <!-- ROADWORKS -->
            <mat-tab>
              <ng-template mat-tab-label class="flex justify-content-between">
                <mat-icon fontIcon="handyman"></mat-icon>
                <p class="ml-2">
                  Roadworks
                  <span
                    matTooltip="Total number of Roadworks on this roads"
                    *ngIf="roadworksData.data.length > 0"
                    >(<b>{{ roadworksData.data.length }}</b
                    >)</span
                  >
                </p>

                <mat-icon
                  *ngIf="roadworksData.data.length > 0"
                  style="font-size: 16px"
                  class="ml-2"
                  matTooltip="Remove only Roarworks markers"
                  (click)="clearRoadworks()"
                  >close</mat-icon
                >
              </ng-template>
              <table
                mat-table
                [dataSource]="roadworksData"
                class="mat-elevation-z8"
              >
                <ng-container
                  *ngFor="let column of roadworksColumns"
                  [matColumnDef]="column.value"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    {{ column.name | titlecase }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element[column.value] }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="getRoadworksColumnValues()"
                ></tr>

                <tr
                  class="cursor-pointer"
                  mat-row
                  (click)="onRoadworksRowClicked(rowRoadwork)"
                  [class.row-is-clicked]="clickedRoadworkRows.has(rowRoadwork)"
                  *matRowDef="
                    let rowRoadwork;
                    columns: getRoadworksColumnValues()
                  "
                ></tr>
              </table>

              <mat-paginator
                #roadworksPaginator
                [pageSize]="5"
                [pageSizeOptions]="[5, 10]"
                showFirstLastButtons
                showFirstLastButtons
              ></mat-paginator>
            </mat-tab>

            <!-- CLOSURES -->
            <mat-tab>
              <ng-template mat-tab-label class="flex justify-content-between">
                <mat-icon fontIcon="remove_road"></mat-icon>
                <p class="ml-2">
                  Closures
                  <span
                    matTooltip="Total number of Closures on this road"
                    *ngIf="closureData.data.length > 0"
                    >(<b>{{ closureData.data.length }}</b
                    >)</span
                  >
                </p>

                <mat-icon
                  *ngIf="closureData.data.length > 0"
                  style="font-size: 16px"
                  class="ml-2"
                  matTooltip="Remove only Closure markers"
                  (click)="clearClosures()"
                  >close</mat-icon
                >
              </ng-template>

              <table
                mat-table
                [dataSource]="closureData"
                class="mat-elevation-z8"
              >
                <ng-container
                  *ngFor="let column of closureColumns"
                  [matColumnDef]="column.value"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    {{ column.name | titlecase }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element[column.value] }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="getClosureColumnValues()"
                ></tr>

                <tr
                  class="cursor-pointer"
                  mat-row
                  (click)="onClosureRowClicked(rowClosure)"
                  [class.row-is-clicked]="clickedClosureRows.has(rowClosure)"
                  *matRowDef="let rowClosure; columns: getClosureColumnValues()"
                ></tr>
              </table>
              <mat-paginator
                #closurePaginator
                [pageSize]="5"
                [pageSizeOptions]="[5, 10]"
                showFirstLastButtons
              ></mat-paginator>
            </mat-tab>

            <!-- WARNINGS -->
            <mat-tab>
              <ng-template mat-tab-label class="flex justify-content-between">
                <mat-icon fontIcon="warning"></mat-icon>
                <p class="ml-2">
                  Warning
                  <span
                    matTooltip="Total number of Warnings on this road"
                    *ngIf="warningsData.data.length > 0"
                    >(<b>{{ warningsData.data.length }}</b
                    >)</span
                  >
                </p>

                <mat-icon
                  *ngIf="warningsData.data.length > 0"
                  class="ml-2"
                  matTooltip="Remove only Warnings markers"
                  (click)="clearWarnings()"
                  >close</mat-icon
                >
              </ng-template>

              <table
                mat-table
                [dataSource]="warningsData"
                class="mat-elevation-z8"
              >
                <ng-container
                  *ngFor="let column of warningColumns"
                  [matColumnDef]="column.value"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    {{ column.name | titlecase }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element[column.value] }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="getWarningColumnValues()"
                ></tr>

                <tr
                  class="cursor-pointer"
                  mat-row
                  (click)="onWarningRowClicked(rowWarning)"
                  [class.row-is-clicked]="clickedWarningRows.has(rowWarning)"
                  *matRowDef="let rowWarning; columns: getWarningColumnValues()"
                ></tr>
              </table>
              <mat-paginator
                #warningsPaginator
                [pageSize]="5"
                [pageSizeOptions]="[5, 10]"
                showFirstLastButtons
              ></mat-paginator>
            </mat-tab>

            <!-- CHARGING STATIONS -->
            <mat-tab>
              <ng-template mat-tab-label class="flex justify-content-between">
                <mat-icon fontIcon="ev_station"></mat-icon>
                <p class="ml-2">
                  Charging stations
                  <span
                    matTooltip="Total number of Roadworks on this road"
                    *ngIf="chargingData.data.length > 0"
                    >(<b>{{ chargingData.data.length }}</b
                    >)</span
                  >
                </p>

                <mat-icon
                  *ngIf="chargingData.data.length > 0"
                  class="ml-2"
                  matTooltip="Remove only Charging stations markers"
                  (click)="clearCharging()"
                  >close</mat-icon
                >
              </ng-template>

              <table
                mat-table
                [dataSource]="chargingData"
                class="mat-elevation-z8"
              >
                <ng-container
                  *ngFor="let column of chargingColumns"
                  [matColumnDef]="column.value"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    {{ column.name | titlecase }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element[column.value] }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="getChargingColumnValues()"
                ></tr>

                <tr
                  class="cursor-pointer"
                  mat-row
                  (click)="onChargingRowClicked(rowCharging)"
                  [class.row-is-clicked]="clickedChargingRows.has(rowCharging)"
                  *matRowDef="
                    let rowCharging;
                    columns: getChargingColumnValues()
                  "
                ></tr>
              </table>

              <mat-paginator
                #chargingPaginator
                [pageSize]="5"
                [pageSizeOptions]="[5, 10]"
                showFirstLastButtons
              ></mat-paginator>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
  <!-- Map -->
  <div class="col-6">
    <div class="text-center border-round-xs h-full surface-100 font-bold">
      <div
        class="map-container"
        leaflet
        [leafletOptions]="options"
        leafletMap
      ></div>
    </div>
  </div>
</div>
