<div class="">
  <div class="row">
    <div class="col-12">
      <div class="text-center p-1 bg-blue-500 font-bold">
        <mat-form-field>
          <mat-label>Roads</mat-label>
          <mat-select
            [formControl]="selectedRoadsControl"
            (selectionChange)="onRoadSelectionChange()"
            multiple
          >
            <mat-select-trigger>
              {{ selectedRoadsControl.value?.[0] || ' ' }}
              <span
                *ngIf="selectedRoadsControl.value?.length! > 1"
                class="example-additional-selection"
              >
                and {{ (selectedRoadsControl.value?.length! || 0) - 1 }}
                {{
                  selectedRoadsControl.value?.length! === 2 ? "other" : "others"
                }}
              </span>
            </mat-select-trigger>

            <mat-option *ngFor="let road of roads" [value]="road">{{
              road
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center p-1 bg-blue-500 font-bold">
        <div *ngIf="selectedRoadsControl && selectedRoadsControl.value">
          <mat-chip
            *ngFor="let road of selectedRoadsControl.value"
            class="mr-2"
          >
            {{ road }}
          </mat-chip>
        </div>
      </div>
    </div>
  </div>
</div>

<app-map [roadIds]="selectedRoads"></app-map>
